*{
    padding: 0;
    margin: 0;
}

body{
    background: lightgray;
}

.apply_box{
    margin: 50px auto;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    padding: 28px;
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
}

.form_control input, select{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

.textarea_control{
    grid-column: 1 / span 2;
}

.textarea_control textarea{
    width: 100%;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.submit{
    background: red;
    color: white;
    border: transparent solid 2px;
    padding: 7px 15px;
    border-radius: 8px;
}